sphinx-material
ruamel-yaml
sphinx>=2.4.4
sphinx_rtd_theme>=0.4.3
autodocsumm
apsw==3.9.2.post1
cachetools==3.0.0
deprecated==1.2.7
Flask==1.0.2
kazoo==2.6.1
lmdb==0.94
matplotlib==3.0.2
numba==0.40.1
numpy==1.18.4
pandas==0.23.4
peewee==3.9.3
psutil==5.6.6
pycryptodomex==3.6.6
python-dotenv==0.13.0
redis==3.0.1
requests==2.23.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.14.0
sklearn==0.0
tensorflow==1.15.2
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
Werkzeug==0.15.3