[flake8]
max-line-length = 120
ignore =
    E402
exclude =
    ./.git,
    ./fateflow,
    ./eggroll,
    ./fateboard,
    ./python/federatedml/secureprotol/symmetric_encryption/py_aes_core.py,
    ./python/federatedml/protobuf/generated
