[submodule "eggroll"]
	path = eggroll
	url = https://github.com/FederatedAI/eggroll.git
	branch = dev-3.0.0-rc
[submodule "fate_client"]
	path = fate_client
	url = https://github.com/FederatedAI/FATE-Client
	branch = dev-2.0.0-rc
[submodule "fate_flow"]
	path = fate_flow
	url = https://github.com/FederatedAI/FATE-Flow
	branch = dev-2.0.0-rc
[submodule "fate_test"]
	path = fate_test
	url = https://github.com/FederatedAI/FATE-Test.git
	branch = dev-2.0.0-rc
