# common file patterns
.DS_STORE
.idea
.vscode/*
*.iml
*.pyc
__pycache__
venv
*.tar.gz
*.db
*.db-journal
*.mdb
.env
Cargo.lock

# excluded paths
/rust/**/target/
/build/
/java/**/target/
/fateboard/target/
/fateflow/logs/
/fateflow/jobs/

# logs
**/logs/*

# editable install
PKG-INFO
entry_points.txt
dependency_links.txt
requires.txt
SOURCES.txt
top_level.txt
