[submodule "eggroll"]
	path = eggroll
	url = https://github.com/FederatedAI/eggroll.git
	branch = v3.0.0
[submodule "fate_client"]
	path = fate_client
	url = https://github.com/FederatedAI/FATE-Client
	branch = v2.0.0
[submodule "fate_flow"]
	path = fate_flow
	url = https://github.com/FederatedAI/FATE-Flow
	branch = v2.0.0
[submodule "fate_test"]
	path = fate_test
	url = https://github.com/FederatedAI/FATE-Test.git
	branch = v2.0.0
[submodule "fate_board"]
	path = fate_board
	url = https://github.com/FederatedAI/FATE-Board.git
	branch = v2.0.0
