# common file patterns
.DS_STORE
.idea
.vscode/*
*.iml
*.pyc
__pycache__
venv
*.tar.gz
*.db
*.db-journal
*.mdb
*.jar
.env
Cargo.lock

# excluded paths
/python/dist/
/rust/**/target/
/build/
/java/**/target/
/fateboard/target/
/fate_flow/logs/
/fate_flow/jobs/
/java/osx/deploy/osx
/dist/
/schemas/
/data/
/logs/

# logs
**/logs/*

# editable install
PKG-INFO
entry_points.txt
dependency_links.txt
requires.txt
SOURCES.txt
top_level.txt
