[submodule "fateboard"]
	path = fateboard
	url = https://github.com/FederatedAI/FATE-Board.git
	branch = dev-1.11.3-g
[submodule "eggroll"]
	path = eggroll
	url = https://github.com/WeBankFinTech/eggroll.git
	branch = dev-2.5.3-g
[submodule "fateflow"]
	path = fateflow
	url = https://github.com/FederatedAI/FATE-Flow.git
	branch = dev-1.11.2-g
