site_name: FATE
site_url: https://fate.readthedocs.io/en/latest
repo_name: FederatedAI/FATE
repo_url: https://github.com/FederatedAI/FATE
edit_uri: edit/master/doc
docs_dir: doc
copyright: © Copyright 2020 WeBank Co., Ltd. | All Rights Reserved.

nav:
  - Home: index.md
  - Tutorial:
      - tutorial/README.md
      - pipeline:
          - data upload demo: tutorial/pipeline/pipeline_tutorial_upload.ipynb
          - sbt demo: tutorial/pipeline/pipeline_tutorial_hetero_sbt.ipynb
          - homo nn demo: tutorial/pipeline/pipeline_tutorial_homo_nn.ipynb
          - match id demo: tutorial/pipeline/pipeline_tutorial_match_id.ipynb
      - DSL:
          - tutorial/dsl_conf/README.md
          - job conf guide: tutorial/dsl_conf/dsl_conf_v2_setting_guide.md
          - upload guide: tutorial/dsl_conf/upload_data_guide.md
      - model publish: tutorial/model_publish_with_serving_guide.md
      - fate test: tutorial/fate_test_tutorial.md

  - Architecture:
      - architecture/README.md

  - FederatedML:
      - federatedml_component/README.md
      - Components:
          - ... | flat | federatedml_component/*.md
      - Secure Protocol: federatedml_component/secureprotol.md
      - Params:
          - ... | flat | federatedml_component/params/*.md

  - Deploy:
      - standalone:
          - deploy/standalone-deploy/README.md
          - ... | flat | deploy/standalone-deploy/doc/*.md
      - cluster:
          - deploy/cluster-deploy/README.md
          - fate_on_eggroll:
              - ... | flat | deploy/cluster-deploy/doc/fate_on_eggroll/*.md
          - fate_on_spark:
              - ... | flat | deploy/cluster-deploy/doc/fate_on_spark/*.md

  - API:
      - api/README.md
      - Session: api/session.md
      - Computing: api/computing.md
      - Federation: api/federation.md

  - Resources:
      - resources/README.md

theme:
  name: material
  custom_dir: "doc/mkdocs/theme"
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.instant
    - header.autohide
  icon:
    repo: fontawesome/brands/github
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode

plugins:
  - awesome-pages
  - mkdocs-simple-hooks:
      # generate params's md
      hooks:
        on_page_markdown: "doc.mkdocs.hook:on_page_markdown"
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append("python")
            - from unittest.mock import MagicMock as mock
            - sys.modules["filelock"] = mock()
            - sys.modules["apsw"] = mock()
            - sys.modules["beautifultable"] = mock()

          rendering:
            show_source: true
            show_category_heading: true
            members_order: source
            show_if_no_docstring: true
          selection:
            docstring_style: numpy
      watch:
        - python
  - i18n:
      default_language: en
      languages:
        zh: 中文
  - mkdocs-jupyter

markdown_extensions:
  - pymdownx.snippets
  - mdx_math
  - admonition
  - pymdownx.highlight
  - toc:
      permalink: true
  - footnotes
  - meta
  - def_list
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde

extra:
  alternate:
    - name: English
      lang: en
      link: "./"
    - name: 中文
      lang: zh
      link: "./zh/"

extra_css:
  - "mkdocs/css/termynal.css"
  - "mkdocs/css/custom.css"
  - "mkdocs/css/extra.css"

extra_javascript:
  - "mkdocs/js/termynal.js"
  - "mkdocs/js/custom.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"
