cachetools==3.0.0
cycler==0.10.0
funcsigs==1.0.2
gmpy2==2.0.8
googleapis-common-protos==1.5.5
grpcio==1.16.1
grpcio-tools==1.16.1
h5py==2.7.0
kiwisolver==1.0.1
lmdb==0.94
matplotlib==3.0.2
multiprocess==0.70.6.1
numba==0.40.1
numpy==1.15.4
opencv-python==3.2.0.7
openpyxl==2.5.8
pandas==0.23.4
pox==0.2.4
ppft==1.6.4.8
protobuf==3.6.1
pycparser==2.19
pycryptodomex==3.6.6
pydot==1.2.4
pyparsing==2.3.0
python-dateutil==2.7.5
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
statsmodels==0.9.0
tensorflow==1.8.0
