[mysqld]
port=3306
basedir=
datadir=
socket=
max_connections=10000
max_connect_errors=10
character-set-server=utf8
default-storage-engine=INNODB
default_authentication_plugin=mysql_native_password
mysqlx=0
skip-name-resolve
[mysql]
default-character-set=utf8
[client]
port=3306
default-character-set=utf8
socket=
[mysqld_safe]
log-error=
pid-file=
