# GitPython==3.1.27
mkdocs-material
mkdocs-jupyter
# ipython_genutils==0.2.0
# python-markdown-math==0.8
mkdocs-static-i18n
# mkdocstrings[python]==0.19.0
# mkdocs-simple-hooks==0.1.5
mkdocs-awesome-pages-plugin
# mkdocs-git-revision-date-plugin==0.3.2
# mkdocs-gen-files==0.4.0

# for FATE api generate
# peewee
# cachetools
# ruamel.yaml
