mkdocs
lxml_html_clean
GitPython==3.1.27
mkdocs-material
mkdocs-jupyter
ipython_genutils
python-markdown-math
mkdocs-static-i18n
mkdocstrings[python]
mkdocs-simple-hooks
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-plugin
mkdocs-gen-files

# for FATE api generate
peewee
cachetools
ruamel.yaml
