mkdocs-material==7.3.0
mkdocs-jupyter==0.18.0
ipython_genutils
python-markdown-math==0.8
mkdocs-static-i18n
mkdocstrings
pytkdocs[numpy-style]==0.14.0
mkdocs-simple-hooks
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-plugin
GitPython


# for FATE api generate
peewee
cachetools
ruamel.yaml
