--extra-index-url https://download.pytorch.org/whl/cpu

lmdb==1.3.0
torch==1.13.1
fate_utils
pydantic==1.10.12
cloudpickle==2.1.0
click
ruamel-yaml==0.16
scikit-learn==1.0.1
numpy
pandas==2.0.3
transformers==4.30.2
accelerate==0.20.2
beautifultable
requests<2.26.0
grpcio==1.46.3
protobuf==3.19.6
