--extra-index-url https://download.pytorch.org/whl/cpu

pip>=23.3
apsw<3.10
pkginfo==1.7.1
beautifultable==1.0.0
cachetools==3.0.0
casbin==1.16.6
casbin-sqlalchemy-adapter==0.4.2
cloudpickle==2.1.0
cos-python-sdk-v5==1.9.10
Werkzeug>3.0.0
Flask==2.3.2
gmpy2==2.0.8
joblib==1.2.0
kazoo==2.6.1
pyyaml==5.4.1
kfserving==0.5.1
kubernetes>=12.0.1
lmdb==1.3.0
minio>=6.0.2, <7.0.0
numpy==1.23.1
peewee
psutil>=5.7.0
pycryptodomex==3.15.0
PyMySQL==1.1.1
python-dotenv==0.13.0
redis==3.5.3
urllib3==1.26.18
requests==2.31.0
requests_toolbelt==0.9.1
ruamel-yaml==0.16.10
scikit-learn==1.0.1
scipy==1.10.0
# tensorflow-cpu==2.12.0
torch==1.13.1+cpu
torchvision==0.14.1+cpu
torch-model-archiver==0.3.1
coverage==4.5.2
pika==1.2.1
pandas==1.1.5
cryptography==42.0.4
sortedcontainers==2.2.2
pytorch-lightning>=1.6.5
filelock==3.3.1
fastavro==1.4.1
lightgbm==3.3.1
shortuuid==1.0.9
sklearn2pmml
nyoka==5.3.0
transformers==4.36.0
impyla==0.18.0
venv-pack==0.2.0
fate-crypto==0.3.0
ipcl-python==2.0.0


# addtional requirements for eggroll
grpcio==1.59.3
grpcio-tools==1.59.3
numba==0.53.0
protobuf==4.24.4
pyarrow
mmh3==3.0.0

# addtional requirements for fate-client
click
colorama>=0.4.4
loguru>=0.6.0
poetry>=0.12
prettytable>=1.0.0,<2.0.0
setuptools>=65.5.1
sshtunnel>=0.1.5,<0.2.0
packaging
