<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright 2019 The FATE Authors. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-4.3.xsd">

    <context:component-scan base-package="com.webank.ai.fate"/>
    <context:annotation-config/>

    <task:executor id="asyncThreadPool" pool-size="0-600" queue-capacity="0" keep-alive="30"/>
    <task:annotation-driven executor="asyncThreadPool" proxy-target-class="true"/>

    <task:executor id="grpcServiceExecutor" pool-size="0-600" queue-capacity="0" keep-alive="30"/>
    <task:executor id="grpcClientExecutor" pool-size="0-600" queue-capacity="0" keep-alive="30"/>

    <task:scheduler id="routineScheduler" pool-size="5"/>
    <!--<task:scheduled-tasks scheduler="routineScheduler">
    </task:scheduled-tasks>-->
</beans>