<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fate.board.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.webank.ai.fate.board.pojo.Task">
    <result column="f_task_id" jdbcType="VARCHAR" property="fTaskId" />
    <result column="f_job_id" jdbcType="VARCHAR" property="fJobId" />
    <result column="f_component_name" jdbcType="VARCHAR" property="fComponentName" />
    <result column="f_operator" jdbcType="VARCHAR" property="fOperator" />
    <result column="f_run_ip" jdbcType="VARCHAR" property="fRunIp" />
    <result column="f_run_pid" jdbcType="INTEGER" property="fRunPid" />
    <result column="f_status" jdbcType="VARCHAR" property="fStatus" />
    <result column="f_create_time" jdbcType="BIGINT" property="fCreateTime" />
    <result column="f_update_time" jdbcType="BIGINT" property="fUpdateTime" />
    <result column="f_start_time" jdbcType="BIGINT" property="fStartTime" />
    <result column="f_end_time" jdbcType="BIGINT" property="fEndTime" />
    <result column="f_elapsed" jdbcType="BIGINT" property="fElapsed" />
    <result column="f_role" jdbcType="VARCHAR" property="fRole" />
    <result column="f_party_id" jdbcType="VARCHAR" property="fPartyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    f_task_id, f_job_id, f_component_name, f_operator, f_run_ip, f_run_pid, f_status, 
    f_create_time, f_update_time, f_start_time, f_end_time, f_elapsed, f_role, f_party_id
  </sql>
  <select id="selectByExample" parameterType="com.webank.ai.fate.board.pojo.TaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.webank.ai.fate.board.pojo.TaskExample">
    delete from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.webank.ai.fate.board.pojo.Task">
    insert into t_task (f_task_id, f_job_id, f_component_name, 
      f_operator, f_run_ip, f_run_pid, 
      f_status, f_create_time, f_update_time, 
      f_start_time, f_end_time, f_elapsed, 
      f_role, f_party_id)
    values (#{fTaskId,jdbcType=VARCHAR}, #{fJobId,jdbcType=VARCHAR}, #{fComponentName,jdbcType=VARCHAR}, 
      #{fOperator,jdbcType=VARCHAR}, #{fRunIp,jdbcType=VARCHAR}, #{fRunPid,jdbcType=INTEGER}, 
      #{fStatus,jdbcType=VARCHAR}, #{fCreateTime,jdbcType=BIGINT}, #{fUpdateTime,jdbcType=BIGINT}, 
      #{fStartTime,jdbcType=BIGINT}, #{fEndTime,jdbcType=BIGINT}, #{fElapsed,jdbcType=BIGINT}, 
      #{fRole,jdbcType=VARCHAR}, #{fPartyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.webank.ai.fate.board.pojo.Task">
    insert into t_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fTaskId != null">
        f_task_id,
      </if>
      <if test="fJobId != null">
        f_job_id,
      </if>
      <if test="fComponentName != null">
        f_component_name,
      </if>
      <if test="fOperator != null">
        f_operator,
      </if>
      <if test="fRunIp != null">
        f_run_ip,
      </if>
      <if test="fRunPid != null">
        f_run_pid,
      </if>
      <if test="fStatus != null">
        f_status,
      </if>
      <if test="fCreateTime != null">
        f_create_time,
      </if>
      <if test="fUpdateTime != null">
        f_update_time,
      </if>
      <if test="fStartTime != null">
        f_start_time,
      </if>
      <if test="fEndTime != null">
        f_end_time,
      </if>
      <if test="fElapsed != null">
        f_elapsed,
      </if>
      <if test="fRole != null">
        f_role,
      </if>
      <if test="fPartyId != null">
        f_party_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fTaskId != null">
        #{fTaskId,jdbcType=VARCHAR},
      </if>
      <if test="fJobId != null">
        #{fJobId,jdbcType=VARCHAR},
      </if>
      <if test="fComponentName != null">
        #{fComponentName,jdbcType=VARCHAR},
      </if>
      <if test="fOperator != null">
        #{fOperator,jdbcType=VARCHAR},
      </if>
      <if test="fRunIp != null">
        #{fRunIp,jdbcType=VARCHAR},
      </if>
      <if test="fRunPid != null">
        #{fRunPid,jdbcType=INTEGER},
      </if>
      <if test="fStatus != null">
        #{fStatus,jdbcType=VARCHAR},
      </if>
      <if test="fCreateTime != null">
        #{fCreateTime,jdbcType=BIGINT},
      </if>
      <if test="fUpdateTime != null">
        #{fUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="fStartTime != null">
        #{fStartTime,jdbcType=BIGINT},
      </if>
      <if test="fEndTime != null">
        #{fEndTime,jdbcType=BIGINT},
      </if>
      <if test="fElapsed != null">
        #{fElapsed,jdbcType=BIGINT},
      </if>
      <if test="fRole != null">
        #{fRole,jdbcType=VARCHAR},
      </if>
      <if test="fPartyId != null">
        #{fPartyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.webank.ai.fate.board.pojo.TaskExample" resultType="java.lang.Long">
    select count(*) from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_task
    <set>
      <if test="record.fTaskId != null">
        f_task_id = #{record.fTaskId,jdbcType=VARCHAR},
      </if>
      <if test="record.fJobId != null">
        f_job_id = #{record.fJobId,jdbcType=VARCHAR},
      </if>
      <if test="record.fComponentName != null">
        f_component_name = #{record.fComponentName,jdbcType=VARCHAR},
      </if>
      <if test="record.fOperator != null">
        f_operator = #{record.fOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.fRunIp != null">
        f_run_ip = #{record.fRunIp,jdbcType=VARCHAR},
      </if>
      <if test="record.fRunPid != null">
        f_run_pid = #{record.fRunPid,jdbcType=INTEGER},
      </if>
      <if test="record.fStatus != null">
        f_status = #{record.fStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.fCreateTime != null">
        f_create_time = #{record.fCreateTime,jdbcType=BIGINT},
      </if>
      <if test="record.fUpdateTime != null">
        f_update_time = #{record.fUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="record.fStartTime != null">
        f_start_time = #{record.fStartTime,jdbcType=BIGINT},
      </if>
      <if test="record.fEndTime != null">
        f_end_time = #{record.fEndTime,jdbcType=BIGINT},
      </if>
      <if test="record.fElapsed != null">
        f_elapsed = #{record.fElapsed,jdbcType=BIGINT},
      </if>
      <if test="record.fRole != null">
        f_role = #{record.fRole,jdbcType=VARCHAR},
      </if>
      <if test="record.fPartyId != null">
        f_party_id = #{record.fPartyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_task
    set f_task_id = #{record.fTaskId,jdbcType=VARCHAR},
      f_job_id = #{record.fJobId,jdbcType=VARCHAR},
      f_component_name = #{record.fComponentName,jdbcType=VARCHAR},
      f_operator = #{record.fOperator,jdbcType=VARCHAR},
      f_run_ip = #{record.fRunIp,jdbcType=VARCHAR},
      f_run_pid = #{record.fRunPid,jdbcType=INTEGER},
      f_status = #{record.fStatus,jdbcType=VARCHAR},
      f_create_time = #{record.fCreateTime,jdbcType=BIGINT},
      f_update_time = #{record.fUpdateTime,jdbcType=BIGINT},
      f_start_time = #{record.fStartTime,jdbcType=BIGINT},
      f_end_time = #{record.fEndTime,jdbcType=BIGINT},
      f_elapsed = #{record.fElapsed,jdbcType=BIGINT},
      f_role = #{record.fRole,jdbcType=VARCHAR},
      f_party_id = #{record.fPartyId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>