$light-gray: #bbbbc8;
$deep-gray: #7f7d8e;
$dark-purple: #534c77;
$primary: #494ece;
$common-bg:#f8f8fa;
.dashboard-container {
  //$section-width: 28vw;
  $section-height: 360px;
  $echart-height: $section-height - 40px;
  height: 100%;
  .dash-board-list {
    .col {
      height: $section-height;
      background: #fff;
      border-radius: 4px;
      .list-title {
        height: 40px;
        padding-top: 20px;
        font-size: 18px;
        color: $dark-purple;
        //line-height: 40px;
        text-indent: 24px;
      }
      .echarts-container {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
    .dataset-info {
      flex-direction: column;
      //padding: 0 20px 20px 20px;
      .dataset-row {
        &:first-of-type {
          margin-top: 32px;
        }
        margin-top: 30px;
        .dataset-item {
          margin-bottom: 20px;
          .name {
            margin-bottom: 6px;
            color: $light-gray;
          }
          .dataset-title {
            //font-size: 16px;
            font-weight: bold;
            color: $deep-gray;
          }
          .value {
            color: $deep-gray;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .job {
      .echarts {
        width: 100%;
        height: $echart-height;
        /*top: 5%;*/
      }
      .elapsed {
        position: absolute;
        top: 0;
        right: 16px;
        .elapsed-title {
          margin-right: 14px;
          margin-bottom: 6px;
          color: $light-gray;
          text-align: right;
        }
        .elapsed-time {
          $h: 28px;
          height: $h;
          width: 88px;
          background: $common-bg;
          text-align: center;
          line-height: $h;
          border-radius: $h;
          font-size: 16px;
        }
      }
      .job-end-container {
        //width: $section-width;
        height: $echart-height;
        .job-icon {
          margin-top: 35px;
          margin-bottom: 36px;
          font-size: 50px;
        }
        .job-info {
          padding: 0 10px;
          > li {
            width: 28%;
            //padding: 0 5%;
            margin-bottom: 20px;
            .name {
              font-size: 12px;
              color: $light-gray;
            }
            .value {
            }
          }
        }
      }
      .btn-wrapper {
        position: absolute;
        left: 0;
        bottom: 32px;
        width: 100%;
        .el-button {
          padding: 7px 24px 6px;
        }
      }
    }
  }
  .graph {
    overflow: auto;
    .wrapper {
      height: $echart-height;
      .echarts {
        width: 100%;
        height: 100%;
      }
    }
  }
  .log-wrapper {
    margin: 24px 0 16px;
    padding: 0 24px 24px;
    background: #fff;
    border-radius: 4px;
    .title {
      padding-top: 20px;
      margin-bottom: 15px;
      font-size: 18px;
      color: $dark-purple;
    }
    .tab-bar {
      margin-bottom: 18px;
      .tab-btn {
        display: flex;
        align-items: center;
        $h: 26px;
        margin-right: 24px;
        padding: 0 5px;
        background: $common-bg;
        //background: #f00;
        line-height: $h;
        border-radius: $h;
        cursor: pointer;
        .text {
          padding: 0 10px;
          font-size: 16px;
          font-weight: bold;
          color: $deep-gray;
        }
        .count {
          min-width: 16px;
          height: 16px;
          padding: 0 5px;
          border-radius: 16px;
          line-height: 16px;
          text-align: center;
          color: #fff;
        }
        .error {
          background: #ff6464;
        }
        .warning {
          background: #ff5d93;
        }
        .info {
          background: #ffd70d;
        }
        .debug {
          background: #24b68b;
        }
        &:hover {
          .text {
            color: #fff;
          }
          background: $primary;
        }
      }
      .tab-btn-active {
        .text {
          color: #fff;
        }
        background: $primary;
      }
    }
    .log-container {
      height: 280px;
      padding: 24px;
      background: $common-bg;
      overflow: auto;
      .log-list {
        > li {
          /*height: 25px;*/
          line-height: 25px;
          text-indent: 10px;
        }
      }
    }
  }
}
