.details-container {
  height: 100%;
  .top {
    padding-bottom: 5px;
    margin-bottom: 20px;
    line-height: 25px;
    border-bottom: 1px solid;
    .link {
      color: #409eff;
    }
  }
  .section-wrapper {
    /*max-height: 70vh;*/
    margin-bottom: 32px;
    overflow: auto;
    .section {
      &-title {
        margin-bottom: 18px;
        font-size: 18px;
        color: #534c77;
        font-weight: bold;
      }
      &-view {
        padding: 20px 50px;
        background: #fff;
        .tab-bar {
          margin-bottom: 18px;
          .tab-btn {
            display: flex;
            align-items: center;
            $h: 26px;
            margin-right: 24px;
            padding: 0 5px;
            background: #f8f8fa;
            line-height: $h;
            border-radius: $h;
            cursor: pointer;
            .text {
              padding: 0 10px;
              font-size: 16px;
              font-weight: bold;
              color: #7f7d8e;
            }
            &:hover {
              .text {
                color: #fff;
              }
              background: #494ece;
            }
          }
          .tab-btn-active {
            .text {
              color: #fff;
            }
            background: #494ece;
          }
        }
        .log-list {
          height: 500px;
          overflow: auto;
          > li {
            /*height: 25px;*/
            line-height: 25px;
            text-indent: 10px;
          }
        }
        .echart {
          width: calc(75vw - 20px);
          /*width: 100%;*/
          height: 500px;
        }
        .tab {
          max-height: 55vh;
          overflow: auto
        }
      }
    }
    .job-summary {
      min-height: 180px;
      padding-top: 32px;
      padding-left: 48px;
      .section-col {
        font-size: 16px;
        display: flex;
        .text-col {
          margin-right: 28px;
          .prop {
            margin-bottom: 8px;
            color: #bbbbc8;
          }
          .value {
            margin-bottom: 8px;
            font-weight: bold;
            color: #7f7d8e;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .output-wrapper{
    height: 800px;
    padding: 32px;
    background: #fff;
    .dag-wrapper {
      width: 100%;
      .output-title {
        margin-bottom: 8px;
        font-size: 16px;
        color: #7f7d8e;
      }
      .output-desc{
        color: #bbbbc8;
      }
      .echart-wrapper {
        height: 632px;
        .echarts {
          height: 100%;
        }
      }
    }
    .para-wrapper{
      width: 316px;
      overflow: auto;
      .para-title {
        margin-bottom: 18px;
        font-size: 16px;
        color: #7f7d8e;
      }
      .msg {
        height: 632px;
        padding: 24px;
        margin-bottom: 24px;
        color: #7f7d8e;
        overflow: auto;
        .msg-list {
          > li {

          }
        }
      }
    }
  }
}
