$light-gray: #bbbbc8;
$dark-gray: #7f7d8e;
$deep-purple: #534c77;
$primary: #494ece;
$common-bg:#f8f8fa;
$link: #409eff;
.details-container {
  height: 100%;
  .top {
    padding-bottom: 5px;
    margin-bottom: 20px;
    line-height: 25px;
    border-bottom: 1px solid;
    .link {
      color: $link;
    }
  }
  .section-wrapper {
    /*max-height: 70vh;*/
    margin-bottom: 32px;
    .section {
      &-title {
        margin-bottom: 18px;
        font-size: 18px;
        color: $deep-purple;
        font-weight: bold;
      }
      &-view {
        padding: 20px 50px;
        background: #fff;
        border-radius: 4px;
        .log-list {
          padding: 24px;
          background: $common-bg;
          border-radius: 5px;
          height: 80%;
          overflow: auto;
          > li {
            /*height: 25px;*/
            line-height: 25px;
            text-indent: 10px;
            color: $dark-gray;
            .num {
              white-space: nowrap;
              margin-right: 15px;
              color: $light-gray;
            }
          }
        }
        .echart {
          width: calc(75vw - 50px);
          /*width: 100%;*/
          height: 500px;
        }
        .tab {
          //max-height: 55vh;
          overflow: auto
        }
      }
    }
    .job-summary {
      min-height: 180px;
      padding-top: 32px;
      padding-left: 48px;
      .section-col {
        font-size: 16px;
        display: flex;
        .text-col {
          margin-right: 28px;
          //overflow: hidden;
          .prop {
            white-space: nowrap;
            margin-bottom: 8px;
            color: $light-gray;
            height: 18px;
            line-height: 18px;
          }
          .value {
            margin-bottom: 8px;
            font-weight: bold;
            color: $dark-gray;
            height: 18px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .tip {
            margin-bottom: 8px;
            margin-left: 10px;
            height: 18px;
            line-height: 18px;
            font-weight: bold;
            color: $primary;
            cursor: pointer;
          }
        }
      }
    }
  }
  .tab-bar {
    margin: 0 48px 24px;
    .tab-btn {
      display: flex;
      align-items: center;
      $h: 26px;
      margin-right: 24px;
      padding: 4px 18px 3px;
      background: $common-bg;
      line-height: $h;
      border-radius: $h;
      cursor: pointer;
      .text {
        font-size: 16px;
        font-weight: bold;
        color: $dark-gray;
      }
      &:hover {
        .text {
          color: #fff;
        }
        background: $primary;
      }
    }
    .tab-btn-active {
      .text {
        color: #fff;
      }
      background: $primary;
    }
  }
  .output-wrapper {
    height: 800px;
    padding: 32px;
    background: #fff;
    .dag-wrapper {
      width: 100%;
      .output-title {
        margin-bottom: 8px;
        font-size: 16px;
        color: $dark-gray;
      }
      .output-desc {
        color: $light-gray;
      }
      .echart-wrapper {
        height: 632px;
        .echarts {
          height: 100%;
        }
      }
    }
    .para-wrapper {
      width: 316px;
      overflow: auto;
      .para-title {
        margin-bottom: 18px;
        font-size: 16px;
        color: $dark-gray;
      }
      .msg {
        height: 632px;
        padding: 24px;
        margin-bottom: 24px;
        color: $dark-gray;
        overflow: auto;
        .msg-list {
          > li {

          }
        }
      }
    }
  }
  .dialog-icons {
    position: absolute;
    right: 15px;
    top: 15px;
    .img-wrapper {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .el-dialog {
    border-radius: 4px;
    .el-dialog__header {
      padding: 24px 48px 18px;
      .el-dialog__title {
        font-size: 18px;
        color: $deep-purple;
        font-weight: bold;
      }
    }
    .el-dialog__body {
      padding: 0;
    }
  }
}
