//@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
//@import './running.scss';
//@import './bootstrap/bootstrap.scss';

$primary: #409eff;
$primary: #494ece;
body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  //font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  //font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  //font-size: 16px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
}

.app-container {
  @media (min-width: 1500px) {
    width: 1442px;
  }
  @media (min-width:1100px) and (max-width: 1500px) {
    width: 1082px;
  }
  @media (max-width: 1100px) {
    width: 722px;
  }
}

.app-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.app-title {
  color: #534c77;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #bbb;
  margin-top: 36px;
  margin-bottom: 32px;
}

//弹性盒模型布局
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.no-shrink {
  flex-shrink: 0;
}

.flex-end {
  justify-content: flex-end;
}

.text-primary {
  color: $primary;
}

.text-dark-primary {
  color: #3135a6;
}

.bg-primary {
  background-color: $primary;
}

.bg-dark-primary {
  background: #3135a6;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.l-0 {
  left: 0;
}

.t-0 {
  top: 0;
}

.t-a-c {
  text-align: center;
}

.bg-dark {
  background-color: #f8f8fa;
}

.c-fff {
  color: #fff;
}

.shadow {
  box-shadow: 0 2px 4px rgba(83, 76, 204, 0.2);
}

.text-black {
  color: #606266;
}

.pointer {
  cursor: pointer;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.circle {
  border-radius: 50%;
}
.overflow-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-auto{
  overflow: auto;
}
