.nav-container {
  $top-height: 48px;
  $router-height: 35px;
  position: relative;
  z-index: 2;
  .navbar {
    width: calc(100% - 48px);
    height: $top-height;
    line-height: $top-height;
    border-radius: 0 0 15px 0;
    .home-btn {
      padding: 0 48px;
      font-size: 28px;
      /*font-weight: bold;*/
      line-height: $top-height;
      text-align: center;
      cursor: pointer;
    }
    .router-btns {
      margin-right: 28px;
      > span {
        margin: 0 8px;
        padding: 0 15px;
        $h: 28px;
        height: $h;
        line-height: $h;
        border-radius: $h;
        cursor: pointer;
        &:hover{
          background: #3135a6;
        }
      }
      .active {
        background: #3135a6;
      }
    }
  }

  .help {
    width: 48px;
    .icon {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #a845d9;
      text-align: center;
      cursor: pointer;
    }
  }
}

//.nav-router {
//  margin: 0;
//  background: #eee;
//  > li {
//    padding: 0 30px;
//    height: $router-height;
//    line-height: $router-height;
//    cursor: pointer;
//    &:hover {
//      color: #409eff;
//    }
//  }
//}
