.running-container {
  $section-width: 336px;
  $section-height: 240px;
  height: 100%;
  padding: 50px 0;
  .job-list {
    > li {
      width: $section-width;
      height: $section-height;
      margin: 12px;
      background: #fff;
      border-radius: 5px;
      .top {
        padding: 10px;
        .job-id {
        }
        .enter {
          width: 72px;
          text-align: center;
          $h:22px;
          height: $h;
          line-height: $h;
          border-radius: $h;
          &:hover{
            background: #e8e8ef;
          }
        }
      }
      .status {
        $text-width: 100px;
        height: $section-width * 0.56;
        .text {
          left: 50%;
          top: 50%;
          width: $text-width;
          height: $text-width;
          margin-left: -$text-width/2;
          margin-top: -$text-width/2;
          text-align: center;
          line-height: $text-width;
        }
        .mask {
          z-index: 999;
          display: none;
          background: rgba(255,255,255,.5);
        }
        .el-button{
          display: none;
        }
        &:hover {
          .mask {
            display: flex;
          }
          .el-button{
            display: block;
          }
        }
      }
    }
  }
}
